<section>
  <div class="page-header">
    <h1>{{vm.tag._id ? 'Edit Tag' : 'New Tag'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.tag._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.tagForm" class="form-horizontal" ng-submit="vm.save(vm.form.tagForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="tag">Tag</label>
          <input name="tag" type="text" ng-model="vm.tag.tag" id="tag" class="form-control" placeholder="Tag" required autofocus>
          <div ng-messages="vm.form.tagForm.tag.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tag is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image</label>
          <textarea name="image" data-ng-model="vm.tag.image" id="image" class="form-control" cols="30" rows="1" placeholder="Image"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.tag.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.tag._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
