﻿<section>
  <div class="page-header">
    <h1>
      Tags
      <a class="btn btn-primary pull-right" data-ui-sref="admin.tags.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tag in vm.tags" data-ui-sref="admin.tags.edit({tagId: tag._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tag.created | date:'mediumDate'"></span>
        by
        <span ng-if="tag.user" ng-bind="tag.user.displayName"></span>
        <span ng-if="!tag.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tag.tag"></h4>
      <p class="list-group-item-text" data-ng-bind="tag.image"></p>
      <p class="list-group-item-text" data-ng-bind="tag.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="tags.$resolved && !tags.length">
    No tags yet, why don't you <a data-ui-sref="admin.tags.create">create one</a>?
  </div>
</section>
