<section>
  <div class="page-header">
    <h1>{{vm.demography._id ? 'Edit Demography' : 'New Demography'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.demography._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.demographyForm" class="form-horizontal" ng-submit="vm.save(vm.form.demographyForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="demography">Demography</label>
          <input name="demography" type="text" ng-model="vm.demography.demography" id="demography" class="form-control" placeholder="Demography" required autofocus>
          <div ng-messages="vm.form.demographyForm.demography.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Demography is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image</label>
          <textarea name="image" data-ng-model="vm.demography.image" id="image" class="form-control" cols="30" rows="1" placeholder="Image"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.demography.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.demography._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
