﻿<section>
  <div class="page-header">
    <h1>
      Demography
      <a class="btn btn-primary pull-right" data-ui-sref="admin.demography.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="demography in vm.demography" data-ui-sref="admin.demography.edit({demographyId: demography._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="demography.created | date:'mediumDate'"></span>
        by
        <span ng-if="demography.user" ng-bind="demography.user.displayName"></span>
        <span ng-if="!demography.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="demography.demography"></h4>
      <p class="list-group-item-text" data-ng-bind="demography.image"></p>
      <p class="list-group-item-text" data-ng-bind="demography.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="demography.$resolved && !demography.length">
    No demography yet, why don't you <a data-ui-sref="admin.demography.create">create one</a>?
  </div>
</section>
