﻿<section>
  <div class="page-header">
    <h1>
      Utags
      <a class="btn btn-primary pull-right" data-ui-sref="admin.utags.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="utag in vm.utags" data-ui-sref="admin.utags.edit({utagId: utag._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="utag.created | date:'mediumDate'"></span>
        by
        <span ng-if="utag.user" ng-bind="utag.user.displayName"></span>
        <span ng-if="!utag.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="utag.utag"></h4>
      <p class="list-group-item-text" data-ng-bind="utag.image"></p>
      <p class="list-group-item-text" data-ng-bind="utag.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="utags.$resolved && !utags.length">
    No utags yet, why don't you <a data-ui-sref="admin.utags.create">create one</a>?
  </div>
</section>
