div.container {
    width: 100%;
}
div.image {
    display: none;
}
header {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
    border:1px solid#555;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid#555;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 0px;
    padding: 1em;
    overflow: hidden;
}
a:hover {
    text-decoration: underline;
}
