<style>
	.selected {
		border: 5px solid #5bc0de;
	}
</style>

<section>
	<div class="page-header">
		<h1>Images</h1>
		<span>Mass label: </span><select class="cluster-name" id="all-cluster-name" ng-model="vm.fullClusterName" ng-options="l for l in vm.labels" ng-change="changeAllLabels()"></select>
		<button ng-click="selectAll();">Select all</button>
		<button ng-click="deselectAll();">Deselect all</button>
	</div>
	<div style="display:inline" ng-repeat="i in vm.images.slice(currentPage*pageSize,currentPage*pageSize+pageSize)" class="browse-thumbnails">
		<table style="display:inline-table">
			<tbody align="center" class="image-wrapper">
				<tr>
					<td><img ng-class="{'selected': vm.selected.indexOf(i.image) >= 0}" ng-click="selectImage(i.image)" ng-src={{i.image}} height="100" width="100"></td>
	      
				</tr>
				<tr>
					<td>
						<select ng-model="i.label" 
										class="cluster-name" 
										id="cluster-name" 
										ng-options="l for l in vm.labels"
										ng-change="changeLabel(i)">
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

&nbsp;
&nbsp;
<body>
<div align="center">
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous
    </button>

    Page {{currentPage+1}} of {{numberOfPages()}}

    <button ng-disabled="currentPage >= vm.images.length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next
    </button>
</div>
</body>
