<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="ICPUTRD" class="img-responsive text-center" 
               src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg"
             href="http://bitbucket.org/icputrd" target="_blank">Learn more</a>
      </p>
          <!--
      <p>
      <center>
	      <table><tbody style="border:none"><tr><td> 
             <a class="btn btn-primary btn-lg" href="tag.html" target="_blank" >Tag</a>
            </td>
             <td>
              <a class="btn btn-primary btn-lg" href="browse.html" target="_blank" >Browse</a>
             </td>
          <td>
            <a class="btn btn-primary btn-lg" href="validate.html" target="_blank" >Validate</a>
	        </td>
    </tr></tbody></table>
     </p>
      </center>
          -->
   </div>
  </div>
</section>
