<section>
  <div class="page-header">
    <h1 ng-bind="vm.tag.image"></h1>
  </div>
  <small>
    <em class="text-muted">
  </small>
  <p class="lead" ng-bind="vm.tag.content"></p>
  <h1>What!</h1>
</section>
