﻿<section>
  <div class="page-header">
    <h1>
      Images
      <a class="btn btn-primary pull-right" data-ui-sref="admin.images.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="image in vm.images" data-ui-sref="admin.images.edit({imageId: image._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="image.created | date:'mediumDate'"></span>
        by
        <span ng-if="image.user" ng-bind="image.user.displayName"></span>
        <span ng-if="!image.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="image.image"></h4>
      <p class="list-group-item-text" data-ng-bind="image.image"></p>
      <p class="list-group-item-text" data-ng-bind="image.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="images.$resolved && !images.length">
    No images yet, why don't you <a data-ui-sref="admin.images.create">create one</a>?
  </div>
</section>
