<section>
  <div class="page-header">
    <h1>Demography</h1>
  </div>

    <button ng-click="getStuff()">List</button>

    <div class="list-group">
    <a ng-repeat="tag in vm.demo" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="tag.utid"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="tag.title"></h4>
      <p class="list-group-item-text" ng-bind="tag.content"></p>
    </a>

    </div>

</section>
