<section>
  </p>
  <h3>
  Hide Search All Donors: <input type="checkbox" ng-model="topSearch", ng-click="shutItDown()"> 
  </h3>
  <div class="page-header">
    <div ng-hide="topSearch">
      <h1>Search All Donors</h1>
      <button ng-click="firstSort()">Sort By</button>
      <select ng-model="searchDemo">
        <option value = 'utid'>UTID
        <option value = 'stature'>Stature
        <option value = 'year'>Year
        <option value = 'ancestry'>Ancestry
        <option value = 'ageatdeath'>Age at death
        <option value = 'sex'>Sex
        <option value = 'weight'>Weight
      </select>
    </br>
    </br>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>UTID</th><th>Weight</th><th>Stature</th>
        <th>Age at Death</th><th>Sex</th><th>Year</th>
        <th>Date Placed</th> <th>Ancestry</th>
      </tr>
      <tr data-ng-repeat="item in vm.items ">
        <td><a Title="Demography" target="_blank"ng-click="goToLink(item)" >{{item.utid}}</a></td>
        <td>{{item.weight}}</td>
        <td>{{item.stature}}</td>
        <td>{{item.ageatdeath}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.year | date:'mediumDate'}}</td>
        <td>{{item.dateplaced | date:'mediumDate'}}</td>
        <td>{{item.ancestry}}</td>
      </tr>
    </table> 

    <!-- pager -->
    <ul ng-if="vm.pager.getPager.pages.length" class="pagination">
      <li ng-class="{disabled:vm.pager.getPager.currentPage === 1}">
        <a ng-click="vm.setPage(1)">First</a>
      </li>
      <li ng-class="{disabled:vm.pager.getPager.currentPage === 1}">
        <a ng-click="vm.setPage(vm.pager.getPager.currentPage - 1)">Previous</a>
      </li>
      <li ng-repeat="page in vm.pager.getPager.pages" ng-class="{active:vm.pager.getPager.currentPage === page}">
        <a ng-click="vm.setPage(page)">{{page}}</a>
      </li>                
      <li ng-class="{disabled:vm.pager.getPager.currentPage === vm.pager.getPager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.getPager.currentPage + 1)">Next</a>
      </li>
      <li ng-class="{disabled:vm.pager.getPager.currentPage === vm.pager.getPager.totalPages}">
        <a ng-click="vm.setPage(vm.pager.getPager.totalPages)">Last</a>
      </li>
     <p>
       <a href="http://jasonwatmore.com" target="_top">pagination by</a>
     </p>
    </ul>
  </div>

    </p>
  <input ng-model='utid'>
    <button ng-click="goToLink(utid)">Search by UTID </button> 
    </p>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>UTID</th><th>Daily High</th><th>Daily Low</th>
      <th>Date Placed</th> 
    </tr>
    <tr data-ng-repeat="item in vm.items2 ">
      <td><a Title="Demography" target="_blank"ng-click="goToLink(item)" >{{item.utid}}</a></td>
      <td>{{item.year | date:'mediumDate'}}</td>
      <td>{{item.dateplaced | date:'mediumDate'}}</td>
      <td>{{item.ancestry}}</td>
    </tr>
  </table> 
    
  <ul ng-if="vm.pager2.getPager.pages.length" class="pagination">
    <li ng-class="{disabled:vm.pager2.getPager.currentPage === 1}">
      <a ng-click="vm.setPage2(1)">First</a>
    </li>
    <li ng-class="{disabled:vm.pager2.getPager.currentPage === 1}">
      <a ng-click="vm.setPage2(vm.pager2.getPager.currentPage - 1)">Previous</a>
    </li>
    <li ng-repeat="page in vm.pager2.getPager.pages" ng-class="{active:vm.pager2.getPager.currentPage === page}">
      <a ng-click="vm.setPage2(page)">{{page}}</a>
    </li>                
    <li ng-class="{disabled:vm.pager2.getPager.currentPage === vm.pager2.getPager.totalPages}">
      <a ng-click="vm.setPage2(vm.pager2.getPager.currentPage + 1)">Next</a>
    </li>
    <li ng-class="{disabled:vm.pager2.getPager.currentPage === vm.pager2.getPager.totalPages}">
      <a ng-click="vm.setPage2(vm.pager2.getPager.totalPages)">Last</a>
    </li>
   <p>
   </p>
  </ul>
    
  </input>

</div>



  <h3>
  Hide Demography Search: <input type="checkbox" ng-model="hideDemoSearch", ng-click="shutItDown()"> 
  </h3>
    <div ng-hide="hideDemoSearch">

<form autocomplete="off" novalidate
  name="userForm" 
  ng-submit="userForm.$valid && submit(user, userForm)"
  ng-disabled="loading"
>
  <fieldset>
    <legend>
      <label>
       	Search Demography 
      </label>
    </legend>
    
    <p>
      <label>
        Sex:
        <input 
          name="userSex"
          ng-model="user.sex">
      </label>
        <div >{{user}}</div>
    </p>

    <p>
      <label>
       	Ancestry: 
        <input
          name="userAncestry"
          ng-model="user.ancestry">
      </label>
    </p>
    <p>
      <label>
        Age:
        <input type="number" name="userAgeAtDeath" ng-model="user.ageAtDeath" min="0" max="120"><br>
      </label>
    </p>
    <p>
      <label>
        Weight:
        <input type="number" name="userWeight" ng-model="user.weight" min="0" max="1000"><br>
      </label>
    </p>
    <p>
      <label>
        Start Time Period:
        <input type="date" name="startDate" ng-model="user.startDate" min="2000-01-02"><br> 
      </label>
    </p> 
      
    <p>
      <label>
        End Time Period:
        <input type="date" name="endDate" ng-model="user.endDate" max= "{{date}}"><br>
      </label>
    </p>
    <button type="submit" ng-disabled="loading">
      Signup
    </button>
    <input type="reset" ng-click="reset(userForm)" value="Reset">
      
  </fieldset>
</form>
</div>
</section>


<!--  
  <pre>$location.path() = {{main.$location.path()}}</pre>
  <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
  <pre>$route.current.params = {{main.$route.current.params}}</pre>
  <pre>$route.current.scope.name = {{main.$route.current.scope.name}}</pre>
  <pre>$routeParams = {{main.$routeParams}}</pre>
-->
