<section>
  <div class="page-header">
    <h1 ng-bind="vm.donor.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.donor.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.donor.user" ng-bind="vm.donor.user.displayName"></span>
      <span ng-if="!vm.donor.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.donor.content"></p>
</section>
