<section>
  <div class="page-header">
    <h1>{{vm.dimage._id ? 'Edit Dimage' : 'New Dimage'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.dimage._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.dimageForm" class="form-horizontal" ng-submit="vm.save(vm.form.dimageForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="dimage">Dimage</label>
          <input name="dimage" type="text" ng-model="vm.dimage.dimage" id="dimage" class="form-control" placeholder="Dimage" required autofocus>
          <div ng-messages="vm.form.dimageForm.dimage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dimage is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="dimage">Dimage</label>
          <textarea name="dimage" data-ng-model="vm.dimage.dimage" id="dimage" class="form-control" cols="30" rows="1" placeholder="Dimage"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.dimage.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.dimage._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
