﻿<section>
  <div class="page-header">
    <h1>
      Dimages
      <a class="btn btn-primary pull-right" data-ui-sref="admin.dimages.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="dimage in vm.dimages" data-ui-sref="admin.dimages.edit({dimageId: dimage._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="dimage.created | date:'mediumDate'"></span>
        by
        <span ng-if="dimage.user" ng-bind="dimage.user.displayName"></span>
        <span ng-if="!dimage.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="dimage.dimage"></h4>
      <p class="list-group-item-text" data-ng-bind="dimage.dimage"></p>
      <p class="list-group-item-text" data-ng-bind="dimage.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="dimages.$resolved && !dimages.length">
    No dimages yet, why don't you <a data-ui-sref="admin.dimages.create">create one</a>?
  </div>
</section>
