<section>
  <div class="page-header">
    <h1>Tags</h1>
  </div>
<span ng-repeat="i in vm.tags track by $index">
		    <a ng-href='{{i.image}}' target='_blank'>{{i.image}} {{i.created}}</a><br>
      </span>
<!--
  <div class="list-group">
    <a ng-repeat="tag in vm.tags" ui-sref="tags.view({ tagId: tag._id })" class="list-group-item" target='_blank'>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="tag.created | date:'mediumDate'"></span>
        by
        <span ng-if="tag.user" ng-bind="tag.user.displayName"></span>
        <span ng-if="!tag.user">Deleted User</span>
        <span ng-bind="tag.image "></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="tag.title"></h4>
      <p class="list-group-item-text" ng-bind="tag.content"></p>
    </a>
  </div>
-->
</section>
