<section>
  <body ng-app="instantSearch">
    <!--Title for Page-->
    <div class="page-header text-center">
      <h2>Tag Search</h2>
    </div>
    <!--Search Form-->
    <form>
      <h3>Text Search</h3>
      <div class="form-group">
        <input type="text" class="form-control input-lg" id="InputKeywords" placeholder="Enter comma seperated Tags, like- tag1,tag2,..." ng-model="searchString">
      </div>
      <div class="form-check" ng-click="andOr(type_of_search)" ng-init="type_of_search=1">
        <p class="form-text">Select search type (AND will only show images with all searched tags present, OR will show images with one or more searched tags present):</p>
        <input type="radio" class="form-check-input" id="option1" ng-model="type_of_search" value="1" checked>
        <label class="form-check-label" for="option1">AND</label>
        <input type="radio" class="form-check-input" id="option2" ng-model="type_of_search" value="0">
        <label class="form-check-label" for="option1">OR</label>
      </div>
      <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
      <!-- <button ng-click="refineSearch()">Refine Search</button> -->
      <button type="button" class="btn btn-primary" ng-click="clear()">Clear</button>
    </form>
    <hr>
    <h3>Checkbox Search</h3> 
    <div ng-repeat="item in items" class="standard">
      <div class="col-xs-3"><input type="checkbox" name="selected_items" value="{{item}}" ng-checked="selected_itemsindexOf(item_name)" ng-click="checkBoxToggle(item)" />{{ item }}</div>
    </div>
    <div> &nbsp; </div> 
    <div ng-repeat="item in anatomic" class="standard">
      <div class="col-xs-3"><input type="checkbox" name="selected_items" value="{{item}}" ng-checked="selected_itemsindexOf(item_name)" ng-click="checkBoxToggle(item)" />{{ item }}</div>
    </div>
    <div> &nbsp; </div>
    <!--<p> &nbsp; </p>-->
    <br>
    <button type="button" class="btn btn-primary" ng-click="check_search()">Checkbox Search</button>
    <hr>
    <!-- Render a li element for every entry in the items array. Notice
      the custom search filter "searchFor". It takes the value of the
      searchString model as an argument.
      -->
    <p>Total has "{{vm.count}}" images</p>
    <span ng-repeat="i in vm.tags track by $index" style="display:inline-block">
      <a ng-href='{{i.url}}' target='_blank'><img title="{{i.tag}}" ng-show='i.icon' ng-src={{i.icon}} target='_blank' ng-href='{{i.url}}'
          alt="{{i.tag}}" height=100 width=100 /></a>
    </span>
    <hr>
  </body>
</section>

