<style>
	.selected {
		border: 5px solid #5bc0de;
	}
</style>

<section>
	<div class="page-header">
		<h1>Images</h1>
		<!-- <span>Mass label: </span><select class="stage-name" id="all-stage-name" ng-model="vm.fullStageName" ng-options="l for l in vm.labels" ng-change="changeAllLabels()">
		<option value="" disabled selected hidden>Select stage</option></select>
		<button ng-click="selectAll();">Select all</button>
		<button ng-click="deselectAll();">Deselect all</button> -->
	</div>
	<p><strong>Counter: {{vm.images.length}}</strong></p>
	<div style="display:inline" ng-repeat="i in vm.images.slice(currentPage*pageSize,currentPage*pageSize+pageSize)" class="browse-thumbnails">
		<table style="display:inline-table">
			<tbody align="center" class="image-wrapper">
				<tr>
					<td><img ng-class="{'selected': vm.selected.indexOf(i.image) >= 0}" ng-click="selectImage(i.image)" ng-src={{i.image}} height="150" width="150"></td>
				</tr>
				<tr><td>{{i.image.split('/')[2]}}: {{i.image.split('/')[3].split('.')[0].slice(3)}}</td></tr>
				<tr ng-if="i.method == 'Megyesi' ">
					<td>
						<select ng-model="i.label" 
										class="stage-name" 
										id="stage-name" 
										ng-options="l for l in vm.labelsM"
										ng-change="changeLabel(i)">
							<option value="" disabled selected hidden>Megyesi</option>
						</select>
					</td>
				</tr>
				 <tr ng-if="i.method == 'Gelderman' " >
                                        <td>
                                                <select ng-model="i.label"
                                                                                class="stage-name"
                                                                                id="stage-name"
                                                                                ng-options="l for l in vm.labelsG"
										ng-change="changeLabel(i)">
							<option value="" disabled selected hidden>Gelderman</option>
                                                </select>
                                        </td>
                                </tr>
				<tr ng-if="i.method == 'DittoNau' ">
                                        <td>
                                                <select ng-model="i.label"
                                                                                class="stage-name"
                                                                                id="stage-name"
                                                                                ng-options="l for l in vm.labelsDN"
                                                                                ng-change="changeLabel(i)">
                                                        <option value="" disabled selected hidden>DittoNau</option>
                                                </select>
                                        </td>
                                </tr>
			</tbody>
		</table>
	</div>
</section>

&nbsp;
&nbsp;
<body>
<div align="center">
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous
    </button>

    Page {{currentPage+1}} of {{numberOfPages()}}

    <button ng-disabled="currentPage >= vm.images.length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next
    </button>
</div>
</body>
