<section>
  <div class="page-header">
    <h1>Images</h1>
  </div>

    <button ng-click="click()">List</button>

    <div class="list-group">
 
    <a ng-repeat="tag in vm.images" class="list-group-item">
      <small class="list-group-item-text">
        <p ng-bind="tag.utid"></p>
        <p ng-bind="tag.days"></p>
        <p ng-bind="tag.dates"></p>
        <p ng-bind="tag.pdates"></p>
      </small>
      <h4 class="list-group-item-heading" ng-bind="tag.title"></h4>
      <p class="list-group-item-text" ng-bind="tag.content"></p>
    </a>



    </div>


</section>
