<section>
<body ng-app="instantSearch">
  <div class="page-header">
    <h3>Basic Image Search</h3>
    <h1></h1>
  </div>
<textarea style="background-color:lightgrey;color:brown" ng-model="searchString" cols="80" rows="2"></textarea>

<p align="left">
<button ng-click="search()">Search</button>
<button ng-click="refineSearch()">Refine Search</button>
<button ng-click="clear()">Clear</button>
</p>


  <div class="list-group">
      <p ng-bind="vm.count"> 
      </p>
    <ul>
      <!-- Render a li element for every entry in the items array. Notice
      the custom search filter "searchFor". It takes the value of the
      searchString model as an argument.
      -->
      <li ng-repeat="i in vm.images track by $index">
        <small class="list-group-item-text">
        <p ng-bind="i.image"></p>
          <p ng-init="myPic = i.pic"></p>
          <p ng-bind = {{myPic}}></p>
          <img ng-src= {{myPic}} alt=what height=200 width=200 />
          <p ng-init="myVar = i.image"></p>
          <a target = '_blank' ng-href= '{{myVar}}'  >See Full Size Photo</a>
        <p>-------------------------------------------</p>

        </small>
      </li>
    </ul>
  </div>
  </body>
</section>
