<section>
  <div class="page-header">
    <h1>Utags</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="utag in vm.utags" ui-sref="utags.view({ utagId: utag._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="utag.created | date:'mediumDate'"></span>
        by
        <span ng-if="utag.user" ng-bind="utag.user.displayName"></span>
        <span ng-if="!utag.user">Deleted User</span>
        <span ng-bind="utag.image "></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="utag.title"></h4>
      <p class="list-group-item-text" ng-bind="utag.content"></p>
    </a>
  </div>
</section>
