<section>
<body ng-app="instantSearch">
  <div class="page-header">
    <h3>Basic Utag Search</h3>
    <h1></h1>
  </div>
<textarea style="background-color:lightgrey;color:brown" ng-model="searchString" cols="80" rows="2"></textarea>

<p align="left">
<button ng-click="search()">Search</button>
<button ng-click="refineSearch()">Refine Search</button>
<button ng-click="clear()">Clear</button>
</p>


  <div class="list-group">
      <p ng-bind="vm.count"> 
      </p>
    <ul>
      <!-- Render a li element for every entry in the items array. Notice
      the custom search filter "searchFor". It takes the value of the
      searchString model as an argument.
      -->
      <li ng-repeat="i in vm.utags track by $index">
        <small class="list-group-item-text">
        <p ng-bind="i.tag"></p>
        <p ng-bind={{utagsDemo1[$index].ageatdeath}}>Right Here</p>
        <p ng-bind={{utagsDemo1[$index].ancestry}}>Right Here</p>
        <p ng-bind={{utagsDemo1[$index].sex}}>Right Here</p>
        <p ng-bind={{utagsDemo1[$index].stature}}>Right Here</p>
        <p ng-bind={{utagsDemo1[$index].weight}}>Right Here</p>
        <a target='_blank' ng-href={{i.image}}>See the image</a>
        <p ng-bind = "i.utid"></p>
        <p>--------------------NO! Here! -----------------------</p>

        </small>
      </li>
    </ul>
  </div>
  </body>
</section>
