<section>
  <div class="page-header">
    <h1>{{vm.donor._id ? 'Edit Donor' : 'New Donor'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.donor._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.donorForm" class="form-horizontal" ng-submit="vm.save(vm.form.donorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="donor">Donor</label>
          <input name="donor" type="text" ng-model="vm.donor.donor" id="donor" class="form-control" placeholder="Donor" required autofocus>
          <div ng-messages="vm.form.donorForm.donor.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Donor is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image</label>
          <textarea name="image" data-ng-model="vm.donor.image" id="image" class="form-control" cols="30" rows="1" placeholder="Image"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.donor.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.donor._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
