﻿<section>
  <div class="page-header">
    <h1>
      Donors
      <a class="btn btn-primary pull-right" data-ui-sref="admin.donors.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="donor in vm.donors" data-ui-sref="admin.donors.edit({donorId: donor._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="donor.created | date:'mediumDate'"></span>
        by
        <span ng-if="donor.user" ng-bind="donor.user.displayName"></span>
        <span ng-if="!donor.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="donor.donor"></h4>
      <p class="list-group-item-text" data-ng-bind="donor.image"></p>
      <p class="list-group-item-text" data-ng-bind="donor.location"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="donors.$resolved && !donors.length">
    No donors yet, why don't you <a data-ui-sref="admin.donors.create">create one</a>?
  </div>
</section>
