<section>
  <div class="page-header">
    <h1>Deomgraphy & Images</h1>
  </div>
  <div>
    <button ng-click="showDimages()">List Photos</button> Search By UTID<input ng-model='utid'>
  <pre>{{utidInfo | json}}</pre>
  <pre>There are {{numImages}} images for this donor</pre>
    <small ng-repeat="dimage in vm.utidHttp" class="list-group-item">dimage {{dimage}}</small>
  </div>


</section>
