<section>
	<div class="page-header">
		<h1>Days</h1>
	</div>
  
  <p>
    Search by date:
    <input ng-model="vm.filter" />
    &nbsp &nbsp
    Sort by:
    <select ng-model="vm.orderProp">
      <option value="date">Date - Ascending</option>
      <option value="-date">Date - Descending</option>
      <option value="-numPhotos">Number of Photos</option>
    </select>
  </p>

  <div style="display:inline" ng-repeat="i in vm.days[0].days | filter:{date: vm.filter} | orderBy:vm.orderProp" class="browse-thumbnails">
    <table style="display:inline-table">
    <tbody align="center">
      <td><a ui-sref="browse.images({ date: i.date, browseId: vm.days[0]._id })"> <img ng-src=../../{{i.icon}} height="100" width="100"></a></td>
      <tr><td>{{i.date}}</td></tr>  
      <tr><td>{{i.numPhotos}} Photos</td></tr>
    </tr>
    </tbody>
    </table>
  </div>
  <hr>
</section>
