<section>
  <div class="page-header">
    <h1>Donors</h1>
  </div>
  
  <p>
    Search by ID:
    <input ng-model="vm.filter" />
    &nbsp &nbsp
    Sort by:
    <select ng-model="vm.orderProp">
      <option value=""></option>
      <option value="-totalPhotos">Number of Photos</option>
      <option value="-numDays">Number of Days</option>
    </select>
    &nbsp &nbsp
    <!--
    Filter:
    <input type="checkbox" ng-model="vm.filterItems['df4']">
    -->
  </p>

  <br>
  
  <div style="display:inline" ng-repeat="i in vm.browse | filter:{_id: vm.filter} | orderBy:vm.orderProp" class="browse-thumbnails">
    <table style="display:inline-table">
    <tbody align="center">
      <tr><td>{{i._id}}</td></tr>
    <td><a ui-sref="browse.days({ browseId: i._id })"><img ng-src={{i.icon}} height="100" width="100"></a></td>
      <tr><td>{{i.numDays}} Days</td></tr>  
      <tr><td>{{i.totalPhotos}} Photos</td></tr>
    </tr>
    </tbody>
    </table>
  </div>
  <hr>
  </div>
</section>
