<section>
  <div class="page-header">
		<h1>Images</h1>
	</div>
  <p>Text below image: img_num (img_file_num). E.g., "01 (03)" means 1st image with "03" in image file name (88a00106.03.JPG).</p>
  <div style="display:inline" ng-repeat="i in vm.images[0].days[0].images" class="browse-thumbnails">
    <table style="display:inline-table">
    <tbody align="center">
      <td><a ui-sref="browse.view({ date: vm.images[0].days[0].date, browseId: vm.images[0]._id, num: i.num })"> 
        <img ng-src=../../../{{i.icon}} height="100" width="100"></a></td>
      <tr><td>{{i.num}} ({{i.html.split('.')[1]}})</td></tr>
    </tr>
    </tbody>
    </table>
  </div>
</section>
